.idea/
EPAM/
.idea/.idea.EPAM/.idea/contentModel.xml
.idea/.idea.EPAM/.idea/contentModel.xml
.idea/.idea.EPAM/.idea/contentModel.xml
.idea/.idea.EPAM/.idea/workspace.xml
.idea/.idea.EPAM/.idea/contentModel.xml
.idea/.idea.EPAM/.idea/workspace.xml
