<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="DirectoryPath" value="C:\Users\rabil\Documents\Task 4\Csv files" />
        <add key="FileType" value="*.csv" />
        <add key="LogPath" value="C:\Users\rabil\Documents\Task 4\templog.txt"/>
    </appSettings>
    <connectionStrings>
        <add name="con" providerName="System.Data.sqlclient"
             connectionString="Data Source=DESKTOP-UOQ5AQK\SQLEXPRESS;Initial Catalog=Test;Integrated Security=true" />
    </connectionStrings>
</configuration>