<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="inputFile" value="C:\Users\rabil\Desktop\University\Git\Epam-Tasks\Task 2\input.txt"/>
        <add key="outputFile" value="C:\Users\rabil\Desktop\University\Git\Epam-Tasks\Task 2\output.txt"/>
    </appSettings>
</configuration>