@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Store</h1>
    <p class="lead">Sale base</p>
    <p><a class="bottom">@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a></p>
</div>